/* About Page Style --------------------------- */

/* Hero Section Styles */
.hero-image {
  background: url('images/contact-hero.jpeg') no-repeat center center;
  background-size: cover;
  height: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin: 0; 
}


/* Style for text */
.text3 {
  margin-top: 10%;
  margin-left: 20px;
  color: #fff;

  width: 60%;

  text-align: center;
}
.swim {
  width: 60%;
  margin-left: 20%;
  font-size: 50px;
  font-weight: 700;
}
.family {
  font-size: 30px;
  width: 40%;
  margin-left: 30%;
}

.content-main {
  margin-left: 5%;
  margin-right: 5%;
}
*/

/* Philosophy Style*/

.our-philosophy {
  background-size: 100% 100%;
  padding-bottom: 4vw;
  border: 1px solid #fff;
}

.our-philosophy h2 {
  font-size: 3vw;
  text-align: center;
  margin: 3vw 0 1vw 0;
}

.our-philosophy p {
  font-size: 1.3vw;
  line-height: 2vw;
}
.our-philosophy .p-text {
  text-align: center;
}

.pp1 {
  background: url(images/about-our-philosophy-bg.jpeg);
  background-size: 100% 160%;
  padding: 20px;
}

.pp2 {
  background: url(images/about-we-do-a-pretty-good-job-bg.jpeg);
  background-size: 100% 160%;
  padding: 20px;
}

/* All-awards Style*/

.all-awards h2 {
  text-align: center;
  font-size: 3vw;
  margin: 3vw 0;
}

.all-awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-awards img {
  margin: 1px 20px;
}
.all-awards .lastimg {
  width: 8vw;
}

