/* About Page Style --------------------------- */

/* Hero Section Styles */
.hero-image {
  background: url('images/contact-hero.jpeg') no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin: 0;
}

.hero h1 {
  font-size: 48px;
  color: #FFFFFF;
  font-family: 'Bodoni Moda', serif;
  padding: 20px;
  border-radius: 10px;
  margin: 0; /* Ensure no margin */
  font-weight: 600;
}

/* Philosophy Style*/

h2 {
  font-size: 32px;
  color: #1A2E38;
  font-family: 'Bodoni Moda', serif;
  margin-top: 20px;
}

.our-philosophy {
  background-size: 100% 100%;
  padding-bottom: 4vw;
  border: 1px solid #fff;
}

.our-philosophy h2 {
  text-align: center;
  margin: 3vw 0 1vw 0;
  font-size: 32px;
  color: #1A2E38;
  font-family: 'Bodoni Moda', serif;
  margin-top: 20px;
  font-weight: 600;
}

.our-philosophy p {
  margin-bottom: 6px;
  line-height: 1.5;
  font-weight: lighter;
}
.our-philosophy .p-text {
  text-align: center;
}

.pp1 {
  background: url(images/about-our-philosophy-bg.jpeg);
  background-size: 100% 160%;
  padding: 20px;
}

.pp2 {
  background: url(images/about-we-do-a-pretty-good-job-bg.jpeg);
  background-size: 100% 160%;
  padding: 20px;
}

.p-text-2 {
color: #03B1F4;
text-decoration: underline;
text-align: center;
margin: 3vw 0 5vw 0;
}        


/* Award Style*/

.all-awards h2 {
  text-align: center;
  font-size: 32px;
  margin: 3vw 0;
  color: #1A2E38;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
}

.all-awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}

.all-awards img {
  margin: 1px 20px;
}

.all-awards .lastimg {
  width: 8vw;
}







