/* Home Page Style --------------------------- */

/* Hero Image session*/

.session_hero_image {
    background: url(images/home/home.jpeg) no-repeat;
    width:100%;
    height:600px;
    position: relative;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.session_hero h1 {
    font-size: 48px;
    color:#ffffff;
    padding-bottom: 20px;
    font-family: 'Bodoni Moda', serif;
    border-radius: 20px;
    font-weight: 600;
}

.session_hero {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

 /* Hero Image button */

.hero_button a {
    text-decoration: none;
    color: #03B1F4;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.hero_button {
    position: relative;
    line-height: 20px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 20px;
    padding:15px;
    margin-top: 15px;
    cursor: pointer;
}

/* Banner Style*/

/*
.session_banner {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}
*/


/* Text Session Style*/

.session_text_image {
    background: url(images/home/home-hands-on-teaching.jpeg) no-repeat;
    width:100%;
    position: relative;
    background-position: center center;
    background-size: cover;
}




.session_text_image .container_text {
    padding-top: 50px;
    margin-left: 80px;
}

.session_text_image h2{
    font-size: 32px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    padding: 20px 0px;
}

.container_text {
    font-family: 'Bodoni Moda', serif;
}

.session_text_image .container_text .content {
    padding-bottom: 20px;
}

.session_text_image .container_text .lessons {
    padding: 20px;
}

.session_text_image .container_text .lessons a {
    color: #000000;
    line-height: 150%;
}


/* Text session button Style*/

.wrapper {
    margin:0;
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.session_text_image .container_text {
    padding: 50px 0;
    margin-left: 80px;
}

.text_button a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    font-family: 'arial', serif;
   
}

.text_button {
    line-height: 20px;
    border: 1px solid #03B1F4;
    background-color: #03B1F4;
    display: inline-block;
    border-radius: 20px;
    padding:10px 20px;
    margin-top: 30px;
    margin-left: 120px;
    cursor: pointer;
}


/* Location Session Style*/

.container_location {
    flex: 1;
    font-family: 'Bodoni Moda', serif;
}

.session_location_image {
    background: url(images/home/home-our-locations-bg.jpeg) no-repeat;
    width:100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    text-align: center;
   
}

.map {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;  
}

.session_location_image .container_location {
    color: #ffffff;
}

.container_location h3{
    font-size: 48px;
    padding: 10px 20px;
    font-weight: 600;
}

.container_location h4{
    font-size: 28px;
    padding: 25px 0px;
    font-weight: 600;
}

/* Location Session Button Style*/

.location_button a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    font-family: 'arial', serif;
}

.location_button {
    position: relative;
    line-height: 20px;
    border: 1px solid #03B1F4;
    background-color: #03B1F4;
    display: inline-block;
    border-radius: 20px;
    padding:10px 40px;
    cursor: pointer;
    margin-top: 10px;
}

/* Award Style*/

.all-awards h2 {
    text-align: center;
    font-size: 32px;
    margin: 3vw 0;
    color: #1A2E38;
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
  }
 
.all-awards {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-bottom: 40px;
}


.all-awards img {
margin: 1px 20px;
}


.all-awards .lastimg {
width: 8vw;
}
 


/* MEDIA QUERIES */

@media screen and (max-width: 767.5px) {
.session_text_image {
    background: none;
    }
}

@media screen and (max-width: 767.5px) {
    .map {
        display: none;
    }
}





