/* style header area */
* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    width: 100%;
    min-height: 80px;
    background-color: #1A2E38;
}


/* style navigation */

.logo {
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 5px;
}

.nav {
    background-color: #1A2E38;
    height: 50%;
    width:100%; 
    }

.nav ul {
    position: absolute;
    left:20vw;
    top:0;
    line-height: 60px;
    }   

.nav li {
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
}

.nav li a {
    text-decoration: none;
    color:#ffffff;
    font-size: 16px;
}

.nav li a:visited {
    text-decoration: none;
}

.nav li a:hover {
    text-decoration: underline;
}

.nav li a:active {
    text-decoration: none;
    color: #03B1F4;
}

 /* style sign-in button */

.button a {
    text-decoration: none;
    color: #03B1F4;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.button {
    position: absolute;
    left:85vw;
    top:0;
    line-height: 20px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 20px;
    padding:10px 15px;
    margin-top: 15px;
    cursor: pointer;
}

.session_hero_image {
    background: url(images/home/home.jpeg) no-repeat;
    background-size: 1800px; 
    margin-top: -300px;
    padding-bottom: 300px;
}

h1 {
    text-align: center;
    margin: 300px 400px;
    padding-top: 400px;
    font-size: 50px;
    color:#ffffff;
    letter-spacing: 0.1px;
}

 /* style Hero Image button */

.container_hero_btn {
    margin-top:-250px;
    margin-left:550px;
}

.hero_button a {
    text-decoration: none;
    color: #03B1F4;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.hero_button {
    position: relative;
    line-height: 20px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 30px;
    padding:15px;
    margin-top: 15px;
    cursor: pointer;
}

/* style Banner */

.session_banner {
    margin-top: 20px;
    margin-left: 350px; 
    margin-right: 250px; 
    margin-bottom: -80px;
}

/* style Text Session */

.session_text_image {
    background: url(images/home/home-hands-on-teaching.jpeg) no-repeat;
    background-size: 1800px; 
    margin-left: -180px;
    padding-bottom: 100px;
}

.session_text_image .container_text {
    margin:100px 200px;
    padding-left: 120px;
    padding-top: 50px;
}

h2{
    padding: 20px 0px;
}

.session_text_image .container_text .content {
    padding-bottom: 20px;
}

.session_text_image .container_text .lessons {
    padding: 20px;
}

.session_text_image .container_text .lessons a {
    color: #000000;
    line-height: 150%;
}

.text_button a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.text_button {
    line-height: 20px;
    border: 1px solid #03B1F4;
    background-color: #03B1F4;
    display: inline-block;
    border-radius: 30px;
    padding:10px 20px;
    margin-top: 30px;
    margin-left: 120px;
    cursor: pointer;
}

/* style Location Session */
.session_location_image {
    background: url(images/home/home-our-locations-bg.jpeg) no-repeat;
    background-size: 1600px; 
    margin-top: -180px;
}

.map {
    margin-left: 820px;
    margin-top: -610px;
}

.session_location_image .container_location {
    margin:50px;
    padding-left: 120px;
    color: #ffffff;
}

h3{
    font-size: 48px;
    margin-left: -800px;
    padding-bottom: 20px;
    padding-top: 200px;
    text-align: center;
}

h4{
    font-size: 28px;
    margin-left: -800px;
    padding: 25px 0px;
    text-align: center;
}

.session_location_image .container_location .content {
    margin-left: -800px;
    text-align: center;
}

.location_button a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

.location_button {
    position: relative;
    line-height: 20px;
    border: 1px solid #03B1F4;
    background-color: #03B1F4;
    display: inline-block;
    border-radius: 30px;
    padding:10px 20px;
    margin-left: 270px;
    cursor: pointer;
}


/* style footer area */
.footer_image {
    background: url(images/footer/footer-bg.jpeg) no-repeat;
    background-size: 1500px; 
}


.footer_logo {
    margin-top: 0px;
    margin-left: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*style footer social media icon */

footer .social .fa {
    padding: 15px ;
    font-size: 14px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
    border-radius: 50%;
}

footer .social .fa:hover {
    opacity: 0.7;
}

footer .social .fa-linkedin {
    background: #125688;
    color: white;
}

footer .social .fa-facebook {
    background: #1e90ff;
    color: white;
}

footer .social .fa-twitter {
    background: #00bfff;
    color: white;
}

footer .social .fa-instagram {
    background: #696969;
    color: white;
}

footer .social .fa-yelp {
    background: #b22222;
    color: white;
}

footer .social .fa-youtube {
    background: #b22222;
    color: white;
}

footer .social {
    margin-left: 1000px;
    padding: 0px 20px;
    padding-bottom: 40px;
}

/*style footer navigation*/

.footer_nav {
    height: 30%;
    width:100%; 
    font-weight: 600;
}

.footer_nav ul {
    position: absolute;
    line-height:30px;
    padding-left: 5%;
}
 

.footer_nav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    color:#000000;
}

.footer_nav li a {
    text-decoration: underline;
    color:#000000;
    font-size: 14px;
}

.footer_nav li a:active {
    text-decoration: underline;
    color: #03B1F4;
}

/*style footer location list*/

.footer_location {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 50px;
    font-size: 14px;
}

.footer_location .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer_location li a {
    text-decoration: underline;
    color:#000000;
    font-size: 14px;
}

/*style sponsors*/

#footer_sponsor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer_sponsors .image{
    display: inline-block;
    padding:20px;

}

#footer_sponsors .disclaimer {
    display: inline-block;
    padding-bottom: 45px;
    padding-left: 500px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

/*style horizontal line */

hr {
    border: 0.3px solid #cccccc;
}
