/* Header and Footer CSS */

/* style Header area */
* {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 1200px) {
    .container .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 3rem;
        padding-left: .5rem;
       
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
        width: 800px;
        left: -300px;
    }
}


body {
    font-family: 'Bodoni Moda', serif;
}

header {
    width: 100%;
    min-height: 80px;
    background-color: #1A2E38;
}


/* Hamburger Menu */


.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffffff;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.container .Location a{
    display: block;
    color: #03B1F4;
    font-weight: 600;
    padding-left: 3%;
}


.container .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.7em;
    clear: both;
    font-weight: 600;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


#navarDropdown {
    display: flex;
}


.navbar-dark .navbar-nav .show>.nav-link:active {
    background-color: white;
    color: black;
}


.container .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    padding: 10px;
}


.container .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}


.container .navbar-dark .navbar-nav .nav-link:active {
    text-decoration: none;
    color: #03B1F4;
}


.container .dropdown-toggle::after {
    display: none !important;
}


.container .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 0.1em;
    clear: both;
    font-weight: 700 !important;
    color: #212529 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.container .card-body a {
    color: #03B1F4;
    text-decoration: none;
    background-color: transparent;
    display: block;
    font-weight: 600;
}


.container .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}


 /* style Header sign-in button */


.button a {
    text-decoration: none;
    color: #03B1F4;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}


.button{
    position: relative;
    line-height: 20px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 20px;
    padding:10px 15px;
    cursor: pointer;
}


/* style footer area */


.footer_image {
    background: url(images/footer/footer-bg.jpeg) no-repeat;
    width:100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    display:flex;
    flex-direction:column;
}


.footer_logo {
  display:flex;
  align-items: center;
  flex-direction: column;
}


.social-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


/*style footer social media icons */


footer .social .fa {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 50%;
}


footer .social .fa:hover {
    opacity: 0.7;
}


footer .social .fa-linkedin {
    background: #125688;
    color: white;
}


footer .social .fa-facebook {
    background: #1e90ff;
    color: white;
}


footer .social .fa-twitter {
    background: #00bfff;
    color: white;
}


footer .social .fa-instagram {
    background: #696969;
    color: white;
}


footer .social .fa-yelp {
    background: #b22222;
    color: white;
}


footer .social .fa-youtube {
    background: #b22222;
    color: white;
}


footer .social {
    display: flex;


}


/*style footer navigation*/


.footer_nav {
    height: 30%;
    width:100%;
    font-weight: 600;
}


.footer_nav ul {
    line-height:30px;
    padding-left: 13%;
}
 


.footer_nav li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    color:#000000;
}


.footer_nav li a {
    text-decoration: underline;
    color:#000000;
    font-size: 14px;
}


.footer_nav li a:active {
    text-decoration: underline;
    color: #03B1F4;
}


/*style footer location list*/


.footer_location {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 50px;
    font-size: 14px;
}


.footer_location .copy {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.footer_location li a {
    text-decoration: underline;
    color:#000000;
    font-size: 14px;
}


/*style footer sponsors*/


.footer_sponsors {
    display: flex;
    flex-direction: row;
}


.footer_sponsors .image{
    display: inline-block;
    padding:20px;
    flex-direction: row;
}


.disclaimer {
    display:flex;
    justify-content: left;
}


/*style footer horizontal line */


hr {
    border: 0.3px solid #cccccc;
}


/*style sign-up modal */

.modal-img {
height: 150px;
width: 150px;
margin-left: -80px;
margin-top: -60px;
}


button, select {
    text-decoration: none;
    color: #03B1F4;
    text-align: center;
    font-weight: 800;
    font-size: 14px !important;
}

button, select a{
    position: relative;
    line-height: 10px;
    background-color:#ffffff;
    border: 1px solid #ffffff;
    display: inline-block;
    border-radius: 20px !important;
    padding:10px 15px;
    cursor: pointer;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: red;
}








